#navbar{
    background-image: none;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between !important;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: rgba(256, 256, 256, 1);
   }


#name-main {
    color: #161831;
    font-size: 30px;
    padding: 0px;
    font-weight: 500;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100px;
    padding-top: 15px;
}

#name-ltd {
    font-size: 20px;
    padding: 0px;
    color: #1d3750;
    font-weight: 400;
}

#logo-name {
    display: flex;
    justify-content: flex-end;
}

#phone-menu {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    float: right;
    align-items: flex-end;
    margin-top: 20px;
}
.nav-contact {
    color: #1d3750;
    font-weight: 400;
}
.menu {
    font-size:20px;
}

#navbar-links{
    padding-top: 0px;
    padding-bottom: 1rem;
}
.menu-link {
    color: #161831;
    font-weight: 500;
    padding-left: 10px;
    
}
