#about-container {
    position: relative;
    min-height: 300px;
    max-height: 1000px;
    overflow: hidden;
    padding-top: 100px;
}

/* Style the video: 100% width and height to cover the entire window */
.video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.mission {
    position: absolute;
    top: 0;
    color:#f1f1f1;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

@media(max-width: 1200px) {
    .mission {
      padding-top: 10rem;
      padding-bottom: 180px;
      height: 1000px;
    }
    .mission > .mission-content h1{
      padding-top: 1rem;
      font-size: 4rem;
      padding-bottom: 10rem;
    }
    .mission > .mission-content h6{
        padding-top: 1rem;
    }
  }

@media(max-width: 1000px) {
/*was at 992px*/
    .mission {
        padding-top: 4rem;
        padding-bottom: 10rem;
        height: 1000px;
    }
    .mission > .mission-content h1{
        padding-top: 1rem;
        font-size: 3rem;
        padding-bottom: 100px;
    }
    .mission > .mission-content h6{
        padding-top: 1rem;
    }
}

@media(max-width: 900px) {
    .mission {
        padding-top: 1rem;
        height: 820px;
    }   
    .mission > .mission-content h1{
        padding-top: 1rem;
        font-size: 2rem;
        padding-bottom: 8.5rem;
    }
    .mission > .mission-content h6{
        padding-top: 0;
        font-size: 1rem;
    }
}

@media(max-width: 500px) {
    .mission {
        padding-top: 1rem;
        height: 640px;
    }   
    .mission > .mission-content h1{
        padding-top: 0.5rem;
        font-size: 1.5rem;
        padding-bottom: 10rem;
    }
    .mission > .mission-content h6{
        padding-top: 6rem;
        font-size: 0.8rem;      
    }
}
.mission-content h1 {
    color: #fff;
    font-size: 5rem;
    padding-top: 2rem
}
.mission-content h6 {
    color: #fff;
    font-size: 2rem;
    padding-top: 2rem
}

#objective {
    padding: 2% 8%;
    background-color: #161831;
    color: white;
}
#objective h3 {
    font-size: 3rem;
}
#objective p {
    font-size: 2rem;
}

#team {
    background-color: #1d3750;
    padding: 2% 6%;
    color: white;
}

.team-img {
    height:250px;
    width: 250px;
    border-style:solid;
    border-color: white;
    border-radius:50%;
}

#team span {
    font-size: 1.5rem;
}

hr {
    background-color: white;
}