/* .projects-timeline {
    /* color: red !important; 
    background: #1d3750  ;
    ; 
} */

.project-date-right {
    left: 80% !important;
    color: #fff;
}

.project-date {
    color: #fff;
}

.project-date-right2 {
    left: 85% !important;
    color: #fff;
}