.contact-form {
    max-width: 100%;
    margin: 0 auto;
    background-color: #1d3750  ;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .contact-form p {
    text-align: center;
    font-weight: 500;
} */

button, input, input[type=text],input[type=email], select, textarea.form-control {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 220px;
    padding: 16px;
    background-color:#1d3750 ;
    /* text-shadow: 1px 1px 0 #000; */
  }

textarea.form-control {
    /* background-color:#EBECF0; */
    border-radius: 20px;
    /* padding-right: 16px; */
    /* margin-left: 34%; */
}
/* input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */
/* input[type=submit]:hover {
    background-color: #45a049;
} */

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}
  
input, textarea {
    margin-right: 8px;
    box-shadow:  inset 2px 2px 5px #161831, inset -5px -5px 10px #636375;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
input:focus, textarea:focus {
    box-shadow:  inset 1px 1px 2px #161831, inset -1px -1px 2px #636375;
}

button {
    color:#61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #636375,  5px 5px 20px #161831;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    width: 30%;
    /* margin-top: 2000px; */
    color: white;
}   

button:hover {
      box-shadow: -2px -2px 5px #636375, 2px 2px 5px #161831;
}
    
button:active {
      box-shadow: inset 1px 1px 2px #161831, inset -1px -1px 2px #636375;
    }

/* button.submit-button {
    color:#161831;
    margin-top: 100px;
} */
/* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */

